.at_lione .at_listcontent .at_pagesTitle {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    padding: 0 10px 0 20px;
    font-size: 20px;
    font-weight: 300;
    background-color: #494949;
    border-bottom: 1px solid #222222;
}

.at_lione .at_listcontent .at_pagesTitle .at_pagesLeft {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.at_lione .at_listcontent .at_pagesTitle h4 {
    color: #ebebeb;
}

.at_lione .at_listcontent .at_pagesTitle .at_pagesLeft>span {
    color: #777777;
    padding-left: 10px;
}

.at_lione .at_pagesTitle .at_pagesLeft>span:hover {
    color: #aaaaaa;
}

.at_lione .at_listcontent .at_pagesTitle .at_created {
    display: flex;
    display: -webkit-flex;
}

.at_lione .at_pagesTitle .at_createdPage {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    border: 1px solid #333333;
    color: #d9d9d9;
    background-color: #4f4f4f;
}

.at_lione .at_pagesTitle .at_createdPage:hover {
    background-color: #595959;
    color: #e9e9e9;
}

.at_lione .at_pagesTitle .at_createdFolder {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    border: 1px solid #333333;
    color: #d9d9d9;
    margin-left: 10px;
    background-color: #4f4f4f;
}

.at_lione .at_pagesTitle .at_createdFolder:hover {
    background-color: #595959;
    color: #e9e9e9;
}

/* upgrade */
.at_lione .at_listcontent .at_upgrade {
    padding: 0 10px 0 20px;
    height: 50px;
    background-color: #393939;
    border-bottom: 1px solid #000000;
}
.at_lione .at_listcontent .at_upgrade p{
    height: 35px;
    line-height: 35px;
}
.at_lione .at_listcontent .at_upgrade i{
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(234, 56, 76);
    border-radius: 5px;
}
.at_lione .at_listcontent .at_upgrade p span{
    color: rgb(234, 56, 76);
}
.at_lione .at_listcontent .at_upgrade p a{
    text-decoration: none;
}
.at_lione .at_listcontent .at_upgrade p a:hover{
    text-decoration: underline;
}
/* Static Pages */ 
.at_lione .at_staticPages h4{
    height: 30px;
    padding-left: 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background-color: #222222;
    color: #cccccc;
    border-bottom: 1px solid #000000;
    
}
.at_lione .at_staticPages ul li{
    height: 30px;
    padding: 0 10px 0 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #393939;
    border-bottom: 1px solid #000000;
}
.at_lione .at_staticPages ul li:hover{
    background-color: #414141;
}
.at_lione .at_staticPages ul li .at_staticPages_left{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    color: #cccccc;
}
.at_lione .at_staticPages ul li .at_staticPages_left:hover {
    color: #eeeeee;
}
.at_lione .at_staticPages_left .at_staticPages_title{
    margin-left: 10px;
}
.at_lione .at_staticPages ul li .at_staticPages_right{
    display: flex;
    display: -webkit-flex;
}
.at_lione .at_staticPages ul li .at_staticPages_right span:hover{
   color: #eeeeee;
}
.at_staticPages_right .at_staticPages_home{
    margin-right: 10px;
}
.at_UtilltyPages h4{
    height: 30px;
    padding-left: 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background-color: #222222;
    color: #cccccc;
    border-bottom: 1px solid #000000;
}
.at_UtilltyPages ul li{
    height: 30px;
    padding: 0 10px 0 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #393939;
    border-bottom: 1px solid #000000;
    color: #cccccc;
}
.at_UtilltyPages ul li:hover{
    background-color: #414141;
}
.at_UtilltyPages .at_UtilltyPages_left{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.at_UtilltyPages .at_UtilltyPages_left .at_UtilltyPages_title{
    margin-left: 10px;
}
.at_UtilltyPages .at_UtilltyPages_right:hover{ 
    color: #eeeeee;
}
.at_CmsPages h4{
    height: 30px;
    padding-left: 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background-color: #222222;
    color: #cccccc;
    border-bottom: 1px solid #000000;
}
.at_CmsPages .at_noCmsPages{
    padding: 15px 8px 15px 18px;
}
.at_CmsPages .at_noCmsPages .at_noCmsPagesContent{
    padding: 12px 5px;
    border: 1px solid #393939;
    border-radius: 3px;
    background-color: #4f4f4f;
}
.at_CmsPages .at_noCmsPages h5{
    text-align: center;
    line-height: 20px;
    color: #d9d9d9;
   
}
.at_CmsPages .at_noCmsPages p{
    
    text-align: center;
    line-height: 16px;
    font-weight: 300;
}
.at_CmsPages .at_noCmsPages p a{
    text-decoration: none;
    color: rgb(107, 176, 255);
}
.at_CmsPages .at_noCmsPages p a:hover{
    text-decoration: underline;
}
